<div class="container" >
        <% @posts.each do |post| %>
            <div class="post" >
                <h2 class= "post-title" ><%= post.title %></h2>
                <%= link_to "Show Thread", post_path(post), class:"btn btn-default" %>
            </div>
        <% end %>
</div>
